_FOSSIL_
manifest
manifest.uuid
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside

Server/utils/elgen
Server/utils/generate-key

python/build
python/dist
python/__pycache__
python/_ellipticlicense*.so
